---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import MainLayout from '@layouts/MainLayout.astro';
import { addPostfix } from '@utils/utils'

export async function getStaticPaths() {
  const botEntries = await getCollection('bot');

  return botEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props as { entry: CollectionEntry<'bot'>};
const { Content } = await entry.render();
---

<MainLayout title={addPostfix(entry.data.title)} description={addPostfix(entry.data.meta_description)}>
  <div class="main">
    <Content />
  </div>
</MainLayout>

<style lang="scss" is:global>
  @import '@styles/mixins';
	@import '@styles/variables';

  div.main {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    padding: 1.5em;
		border-radius: 1.5em;
    background-color: $white;

		@include for-tablet-portrait-up {
			padding: 2em;
			gap: 1.75em;
		}
  }

  button {
		background-color: $blue;
		border: 1px solid $gray;
		outline: none;
		color: $white;
		font-size: 1em;
		cursor: pointer;

		padding: .75em 1em;
		border-radius: 1.5em;
		
		@include for-phone-only {
			width: 100%;
		}
	}
</style>