@import '@styles/variables.scss';

@mixin for-phone-only {
  @media screen and (max-width: $phone) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media screen and (min-width: $phone) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin for-desktop-up {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin container($p-m: 1.25em, $p-d: 2.5em) {
  max-width: 970px;
  margin-inline: auto;
  padding-inline: $p-m;

  @include for-tablet-portrait-up {
    padding-inline: $p-d;
  }
}