---
import MainLayout from '@layouts/MainLayout.astro';

---
<MainLayout>
	<div class="blog">
		<h1>Блог</h1>
		<p>В ближайшем будущем здесь будут статьи</p>
	</div>
</MainLayout>

<style lang="scss">
	div.blog {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
	}

</style>
