---
import MainLayout from '@layouts/MainLayout.astro';
import BotCard from '@components/BotCard/BotCard.astro';

import fetchApi from '@api/index';
import type Bot from '@api/types/bot';


const bots = await fetchApi<Bot[]>({
  endpoint: 'bots?populate=*', 
  wrappedByKey: 'data',
});

---
<MainLayout 
	title="Vladimir's website | @keeeparis" 
	description="This webpage consists of various projects made by Vladimir @keeeparis. Primary focus is on programming but in near future it can be extended to include blog. I hope you can find it useful."
> 
	<div class="projects">
		<h1>Проекты</h1>
		<ul>
			{bots.map(bot => (
				<BotCard bot={bot} />
			))}
		</ul>
	</div>
</MainLayout>

<style lang="scss">
	@import '@styles/mixins';
	@import '@styles/variables';

	div.projects {
		margin-top: .5em;
		display: flex;
		flex-direction: column;
		gap: 1.5em;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
</style>
