---
import MainLayout from '@layouts/MainLayout.astro';

const PROJECTS = [
	{ 
		name: 'Пятифакторный тест личности', 
		description: `С помощью этого бота можно пройти известный тест на определение личности, который базирует на 5 факторах:
		 	Открытость к опыту, Сознательность, Экстраверсия, Доброжелательность, Невротизм (эмоциональная стабильность).</br></br> 
			После прохождения теста будут показаны результаты, информативный график, а также описания по каждому показателю.`,
		href: 'https://t.me/five_factor_model_bot' 
	},
	{ 
		name: 'Игра в снежки', 
		description: `Этот бот позволяет бросаться снежками друг в друга. Для этого, добавьте его в группу,
			нажмите команду <code>/start</code>, а дальше следуйте указаниям бота. <br/><br/> Если запутались, то можно воспользоваться командой <code>/help</code>.`, 
		href: 'https://t.me/throw_snowball_bot' 
	},
	{ 
		name: 'Сколько см?', 
		description: `Простой бот, который раскажет всю правду о размере Вашего достоинства. <br/><br/> Добавлять его никуда не нужно, 
			просто используйте в любом чате, начав писать сообщение с <b>@pe_size_bot</b>. Нажмите на всплывающую подсказку и вуаля!`, 
		href: 'https://t.me/pe_size_bot' 
	},
];
---
<MainLayout>
	<div class="projects">
		<h1>Проекты</h1>
		<ul>
			{PROJECTS.map(project => (
				<li>
					<h2>{project.name}</h2>
					<p set:html={project.description}></p>
					<a href={project.href}>
						<button>Открыть в телеграме</button>
					</a>
				</li>
			))}
		</ul>
	</div>
</MainLayout>

<style lang="scss">
	@import '@styles/mixins';
	@import '@styles/variables';

	div.projects {
		margin-top: .5em;
		display: flex;
		flex-direction: column;
		gap: 1.5em;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	li {
		background-color: $white;
		padding: 1.5em;
		border-radius: 1.5em;

		display: flex;
		flex-direction: column;
		gap: .75em;

		@include for-tablet-portrait-up {
			padding: 2em;
			gap: 1em;
		}
		
	}	
	button {
		background-color: $blue;
		border: 1px solid $gray;
		outline: none;
		color: $white;
		font-size: 1em;
		cursor: pointer;

		padding: .75em 1em;
		border-radius: 1.5em;
		
		@include for-phone-only {
			width: 100%;
		}
	}
</style>
