---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Проекты</h1>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding-inline: 1.25em;
		max-width: 1280px;

		@media (min-width: 576px) {
			padding-inline: 2.5em;
		}
	}
</style>
