<header>
  <nav>
    <a href="/">
      Логотип
    </a>
    <a href="/blog">
      Блог
    </a>
  </nav>
</header>

<style lang="scss">
  @import '@styles/mixins';

  header {
    padding-top: 1em;
    padding-bottom: 1em;
    
    @include for-tablet-portrait-up {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1.25em;

    @include for-tablet-portrait-up {
      padding-inline: 2.5em;
    }
  }

  p {
    font-size: 1.25em;
  }

  a {
    font-size: 1.25em;
  }
</style>