---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.card {
		border-radius: 30%;
	}

	@supports (-webkit-mask-image: paint(smooth-corners)) {
		.card {
			--smooth-corners: 5;
			-webkit-mask-image: paint(smooth-corners);
			border-radius: 0;
		}
	}
</style>
