---
import IconInstagram from '@components/Icons/Instagram.astro';
import IconTelegram from '@components/Icons/Telegram.astro';

import type Global from '@api/types/global';

interface Props {
	content: Global['attributes']['footer'];
}

const { content } = Astro.props;
---

<footer>
  <div class="inner">
    <a href={content.instagram} aria-label="ссылка на инстаграм @keeeparis">
      <IconInstagram class="icon" size={28} />
    </a>
    <a href={content.telegram} aria-label="ссылка на телеграм @keeeparis">
      <IconTelegram class="icon" size={28} />
    </a>
  </div>
</footer>

<style lang="scss">
  @import '@styles/mixins';
  @import '@styles/variables';

  footer {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  
  div.inner {
    @include container;
        
    display: flex;
    justify-content: center;
    gap: .5em;
  }

  .icon {
    color: $black; 
  }

  a {
    display: flex;
  }
</style>