---
// import '@fontsource-variable/jost';
import '@styles/global.scss';
const isDev = import.meta.env.DEV;
const isProd = import.meta.env.PROD;
---

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Vladimir's website (Keeeparis)</title>
		<meta name="description" content="This webpage consists of various projects made by Vladimir @keeeparis. Primary focus is on programming but in near future it can be extended to include blog. I hope you can find it useful.">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Google Tag Manager -->
		{isProd && (<script is:inline async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer', 'GTM-MPFN8GL');</script>)}
			<!-- End Google Tag Manager -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
			{isProd && (
				<noscript>
					<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPFN8GL"
						height="0" width="0" style="display:none;visibility:hidden"></iframe>
				</noscript>
			)}
		<!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>
