---
import '@fontsource-variable/jost';
import '@styles/global.scss';
---

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Vladimir's website (Keeeparis)</title>
		<meta name="description" content="This webpage consists of various projects made by Vladimir @keeeparis. Primary focus is on programming but in near future it can be extended to include blog. I hope you can find it useful.">
	</head>
	<body>
		<slot />
	</body>
</html>
